<div class="health-container">
  <mat-card>
    <mat-card-content>
      <p>
        Compare our ingredients with other sauces. Remember, by law, food labels must list ingredients in order of
        quantity!
      </p>
      <h2>Lower Salt</h2>
      <p>
        I have seen pasta sauces with over 900 mg of sodium in a half cup serving. Most are 400-500 mg. Davide has 220
        mg per serving. For more information on how dangerous salt can be check out the video "War on Salt" by ABC News.
      </p>
      <h2>No Added Sugar, No Paste</h2>
      <p>
        Unhealthy sauces use mostly "paste" which is bitter and made from poor quality tomatoes. Sugar, corn syrup and
        other artificial sweeteners are added to sauces to make up for this lack of quality. We use fresh, ripe produce
        that provides all the natural sweetness you would need.
      </p>
      <h2>No Preservatives</h2>
      <p>Nothing artificial, guaranteed.</p>
      <h2>No Dehydrated Vegetables</h2>
      <p>I can't imagine a sauce with dehydrated vegetables.</p>
      <h2>Lycopene</h2>
      <p>
        Good news about tomatoes is they're packed full of lycopene which has been proven to have cancer fighting
        properties.
      </p>
      <h2>No Soybean, Canola, or Heat / Chemically extracted oils</h2>
      <p>Davide sauces use only healthful Extra Virgin olive oil.</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/zwqgDtj42zY"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/jN-kuJvg4jk"
          title="Davide Italian Tomato Sauce and Bob, heart attack survivor"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </mat-card-content>
  </mat-card>
</div>
