.health-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 1rem;
  text-align: left;
  height: auto;

  .round {
    border-radius: 1rem;

    img {
      border-radius: 1rem;
    }
  }
  mat-card {
    max-width: 100%;
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      img,
      h2,
      p {
        height: auto;
      }
      h2 {
        text-align: center;
      }
      img {
        margin-top: auto;
      }
    }
  }
  @media (min-width: 900px) {
    mat-card {
      max-width: calc(50% - 2rem);
    }
  }
  @media (min-width: 1200px) {
    mat-card {
      max-width: calc(33% - 2rem);
    }
  }
}
