.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.quote {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4); /* Darker background for better readability */
  color: #fff; /* White text color */
  font-size: 1.2rem;
  text-align: center;
  max-width: 90%; /* Responsive max-width */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle box shadow */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for better visibility on contrasting backgrounds */
}

.divider {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #fff, transparent); /* Stylish gradient divider */
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .quote {
    font-size: 1rem; /* Smaller font size for mobile devices */
    padding: 1.5rem;
  }
}
