<div class="flex-container">
  <mat-card>
    <mat-card-content>
      <div class="contact-info">
        <h2>We'd Love to Hear From You!</h2>

        <!-- mailto -->
        <p>Email: <a href="mailto:davidesauce@gmail.com">davidesauce&#64;gmail.com</a></p>
        <!-- phoneto -->
        <p>Phone: <a href="tel:412-793-3527">(412) 793-3527</a></p>
        <p>Pittsburgh, PA 15235</p>
        <mcui-social-media-icons
          [twitterId]="'davidesauce'"
          [instagramId]="'davide_sauce'"
          [facebookId]="'DavidePastaSauce'"
          [youtubeId]="'UC1QjGXqBRrU6WlOtM0AXpnQ'"
        ></mcui-social-media-icons>
      </div>
      <!-- <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required email />
          <mat-error *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Message</mat-label>
          <input matInput formControlName="message" required input/>
          <mat-error *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched">
            Message is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
      </form> -->
    </mat-card-content>
  </mat-card>
</div>
