:host {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 1rem;
    text-align: left;
    height: auto;
    max-width: 100%;

    mat-card {
      min-width: 80%;
      mat-card-content {
        padding: 1rem;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          padding: 2rem;

          mat-form-field {
            width: 100%;
          }
        }
      }
    }
    @media (min-width: 900px) {
      mat-card {
        min-width: calc(60% - 2rem);
      }
    }
    @media (min-width: 1200px) {
      mat-card {
        min-width: calc(50% - 2rem);
      }
    }
  }
}

::ng-deep {
  .mdc-text-field {
    // height: 5rem !important;
    &__input {
      height: 4rem !important;
    }
  }
  .mdc-floating-label {
    margin-top: 30px;
  }
}
