<mcui-random-quote [quotes]="quotes"></mcui-random-quote>
<div class="highlights-container">
  <ng-container *ngFor="let highlight of visibleHighlights; let i = index">
    <span
      *ngIf="!highlight.route; else linked"
      [ngClass]="highlight.route ? 'accent' : ''"
      class="highlight playfair-display"
      @fadeIn
    >
      {{ highlight.text }}</span
    >
    <ng-template #linked
      ><a class="highlight accent" [routerLink]="highlight.route">{{ highlight.text }}</a></ng-template
    >
  </ng-container>
</div>
