<mcui-random-quote [quotes]="quotes"></mcui-random-quote>
<div class="highlights-container">
  <ng-container *ngFor="let highlight of visibleHighlights; let i = index">
    @if(highlight.route){<a @fadeIn class="highlight accent" [routerLink]="highlight.route">{{ highlight.text }}</a>
    } @else if(highlight.url){
    <button class="buy-button" mat-stroked-button color="accent" (click)="goToUrl(highlight.url)" @fadeIn>
      <a class="playfair-display">{{ highlight.text }}</a>
    </button>
    } @else {
    <span [ngClass]="highlight.route ? 'accent' : ''" class="highlight playfair-display" @fadeIn>
      {{ highlight.text }}</span
    >
    }
  </ng-container>
</div>
