:host {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
}

::ng-deep {
  .mat-mdc-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .mat-mdc-card-image {
    height: auto;
  }
  .mat-drawer-container {
    background-color: transparent;
  }
}
