:host {
  .highlights-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: auto;
    text-align: center;
    margin: 2rem 0;
    align-items: center;
    justify-content: start;
    height: auto;
  }
  .highlight {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    a {
      text-decoration: none;
    }
  }
  //media query on small devices
  @media (max-width: 768px) {
    .highlights-container {
      min-height: 500px;
    }
  }
}
