<div class="history-container">
  <ng-container *ngFor="let card of historyCards">
    <ng-container *ngIf="card.expand; else summary">
      <mat-card class="full">
        <mat-card-content>
          <h2>{{ card.title }}</h2>
          <div class="story">
            <p *ngFor="let paragraph of card.paragraphs">{{ paragraph }}</p>
          </div>
          <mcui-grid-gallery [images]="card.images"></mcui-grid-gallery>
          <button mat-raised-button color="primary" (click)="flipCard(card)">Go Back</button>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #summary>
      <mat-card class="small" [ngStyle]="showExpandedOnly(card)">
        <mat-card-content>
          <h2>{{ card.title }}</h2>
          <p>{{ card.summary }}</p>
          <img [src]="card.images[0].src" [alt]="card.images[0].alt" />
          <span class="subtitle">{{ card.images[0].alt }}</span>
          <button mat-raised-button color="primary" (click)="flipCard(card)">Learn More</button>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </ng-container>
</div>
