@use '@angular/material' as mat;
@use './themes.scss' as themes;
@include mat.core();

html,
body,
forest-bjorn-root {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0;
}
mat-sidenav-container {
  height: 100%;
}
.fjalla-one-regular {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.parisienne-regular {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-style: normal;
}
.gallery {
  margin: 1rem;
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }
}
