@use '@angular/material' as mat;
@use './themes.scss' as themes;
@include mat.core();

html,
body,
forest-bjorn-root,
div,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mat-sidenav-container {
  height: 100%;
}
.title-text {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
