@use '@angular/material' as mat;

@include mat.core();

$dark-color: #000000;
$light-color: #ffffff;

$dark-primary-text: rgba($dark-color, 0.87);
$dark-secondary-text: rgba($dark-color, 0.54);
$dark-disabled-text: rgba($dark-color, 0.38);
$dark-dividers: rgba($dark-color, 0.12);
$dark-focused: rgba($dark-color, 0.12);

$light-primary-text: rgba($light-color, 0.87);
$light-secondary-text: rgba($light-color, 0.7);
$light-disabled-text: rgba($light-color, 0.5);
$light-dividers: rgba($light-color, 0.12);
$light-focused: rgba($light-color, 0.12);

$primary-palette: (
  50: #e5efe6,
  // Soft Mint
  100: #b8d9bf,
  // Light Sage
  200: #8ac294,
  // Lush Green
  300: #5cac6a,
  // Forest Green
  400: #3f9c4e,
  // Deep Shamrock
  500: #2e8b45,
  // Pine Green
  600: #277b3f,
  // Dense Forest
  700: #206b39,
  // Dark Jungle Green
  800: #195b33,
  // Deep Green
  900: #0e4727,
  // Almost Black Green
  A100: #a2edc5,
  // Mint Highlight
  A200: #70e3a3,
  // Neon Green
  A400: #3dd582,
  // Vivid Green
  A700: #2c9e5e,

  // Rich Emerald
  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-secondary-text,
      400: $dark-secondary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-secondary-text,
      800: $light-secondary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-secondary-text,
      A700: $light-primary-text,
    ),
);

$accent-palette: (
  50: #fdf1e0,
  // Warm Beige
  100: #f9e0b2,
  // Soft Peach
  200: #f5cf83,
  // Sandy Gold
  300: #f1be55,
  // Golden Sunrise
  400: #eeb132,
  // Sunlit Earth
  500: #ea9f0e,
  // Amber Dawn
  600: #c7890c,
  // Rich Gold
  700: #a5730a,
  // Deep Mustard
  800: #836d08,
  // Darkened Gold
  900: #625706,
  // Almost Brown
  A100: #fff7e6,
  // Ivory Mist
  A200: #ffe8ba,
  // Light Goldenrod
  A400: #ffd98e,
  // Mellow Gold
  A700: #ffc75c,

  // Bright Gold
  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-secondary-text,
      400: $dark-secondary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-secondary-text,
      800: $light-secondary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-secondary-text,
      A700: $light-primary-text,
    ),
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@mixin customizations($theme) {
  $text-color: mat.get-theme-color($theme, primary, 800);

  $landing-text-color: mat.get-theme-color($theme, primary, 100);

  mcui-random-quote {
    .quote {
      color: $landing-text-color;
    }
  }
  header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.315) 0%, rgba(0, 0, 0, 0) 70%);
  }
  footer {
    background: rgba(16, 20, 24, 1);
    font-family: 'Roboto', sans-serif;
  }

  //Sidenav
  mat-sidenav-content {
    height: 100%;
  }
  mat-sidenav-container {
    background-color: transparent !important;
    .mat-drawer-container {
      background-color: transparent !important;
    }
    .mat-drawer-backdrop {
      background-color: transparent !important;
    }
  }
  mat-nav-list {
    .sub-item {
      .mdc-list-item {
        &__primary-text {
          font-size: 0.85rem;
        }
      }
    }
  }

  $card-color: mat.get-theme-color($theme, primary, 600);
  $card-text-color: mat.get-theme-color($theme, primary, 600-contrast);

  mat-card {
    background-color: rgb(red($card-color), green($card-color), blue($card-color), 0.75) !important;
    .overlay-text {
      color: $card-text-color;
    }
    color: $card-text-color;
  }
  mat-card-title {
    color: $card-text-color;
  }
  .sidenav {
    color: $text-color;

    mat-nav-list {
      a {
        color: inherit;
      }
    }
  }
}
@include mat.core-theme($my-dark-theme);
@include mat.button-theme($my-dark-theme);
@include mat.list-theme($my-dark-theme);
@include mat.sidenav-theme($my-dark-theme);
@include mat.toolbar-theme($my-dark-theme);

@include customizations($my-dark-theme);

//fonts
mcui-nav-header {
  .title-text {
    font-family: 'Fjalla One', sans-serif;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
  }
}
