.chevron_left {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
.sub-item {
  padding-left: 1.25rem;
}
// social media links at bottom center of page
.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
