.chevron_left {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
.sub-item {
  padding-left: 1.25rem;
}
// social media links at bottom center of page
mcui-social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}
//pin footer to bottom of page
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-container:last-child {
  align-self: flex-end;
}
::ng-deep {
  //sidenav container full height
  .mat-drawer-container {
    height: 100%;
  }
}
