.chevron_left {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
.sub-item {
  padding-left: 1.25rem;
}
mcui-social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  padding-bottom: 1rem;
}
.only-content {
  padding: 2rem 2rem;
}
::ng-deep {
  .mat-drawer-container {
    height: 100%;
  }
  .mat-drawer-content {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 1rem;

    mcui-footer {
      margin-top: auto;
    }
  }
}
