@use '@angular/material' as mat;
@use './themes.scss' as themes;
@include mat.core();

html,
body,
ds-root,
div,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./assets/images/countryside.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.parisienne {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-style: normal;
}
.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-display {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

//media queries to adjust base font size based on screen size
@media (min-width: 1px) and (max-width: 576) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }
}
