@use '@angular/material' as mat;

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$primary-palette: (
  50: #fdf6e3,
  // Lightest beige, akin to a soft morning light
  100: #f7e8c3,
  // Warm beige, reminding of baked goods
  200: #f1daa3,
  // Earthy beige, resembling aged parchment
  300: #ebcc83,
  // Golden beige, hinting at the warmth of sunlit fields
  400: #e6bf63,
  // Deeper golden hue, evoking the richness of harvest
  500: #e0b143,
  // Rustic gold, reflecting the glow of autumn
  600: #daa423,
  // Earthy amber, capturing the essence of late summer
  700: #d49703,
  // Darker amber, with a hint of rustic charm
  800: #ce8a00,
  // Deep amber, suggesting the depth of traditional craftsmanship
  900: #c87d00,
  // Richest earth tone, embodying the heart of the rustic palette
  A100: #f5deb3,
  // Soft accent, like sun-bleached straw
  A200: #ecca83,
  // Warm accent, like sundried tomatoes
  A400: #e3b653,
  // Bold accent, reminiscent of golden-hour landscapes
  A700: #dbaa23,
  // Deep accent, evoking the richness of earthenware
  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    ),
);
$accent-palette: (
  50: #f8ffea,
  100: #dae7c9,
  200: #becbae,
  300: #a3af94,
  400: #89957b,
  500: #6f7b62,
  600: #57624b,
  700: #4b563f,
  800: #29341f,
  900: #151e0c,
  A100: #becbae,
  A200: #a3af94,
  A400: #89957b,
  A700: #57624b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@mixin customizations($theme) {
  $primary-50: mat.get-theme-color($theme, primary, 50);
  $text-color: mat.get-color-from-palette(mat.get-color-config($theme, 'primary'), 'contrast');

  //Sidenav
  mat-sidenav-content {
    height: 100%;
    background: linear-gradient(to top, mat.get-theme-color($theme, primary, 200), white);
    //opacity 50%
    opacity: 0.7;
  }
  mat-nav-list {
    .sub-item {
      .mdc-list-item {
        &__primary-text {
          font-size: 0.85rem;
        }
      }
    }
  }
  .sidenav {
    color: $text-color;

    mat-nav-list {
      a {
        color: inherit;
      }

      a.mat-list-item {
        &:hover,
        &:focus {
          background-color: mat.get-color-from-palette(mat.get-color-config($theme, 'primary'), 100);
        }
      }
    }
  }
  //Toolbar
  mat-toolbar {
    background-color: transparent !important;
  }
  mat-toolbar-row {
    background: transparent;
  }
}
@include mat.core-theme($my-light-theme);
@include mat.button-theme($my-light-theme);
@include mat.list-theme($my-light-theme);
@include mat.sidenav-theme($my-light-theme);
@include mat.toolbar-theme($my-light-theme);

@include customizations($my-light-theme);
