@use '@angular/material' as mat;

@include mat.core();

$dark-color: #000000;
$light-color: #ffffff;

$dark-primary-text: rgba($dark-color, 0.87);
$dark-secondary-text: rgba($dark-color, 0.54);
$dark-disabled-text: rgba($dark-color, 0.38);
$dark-dividers: rgba($dark-color, 0.12);
$dark-focused: rgba($dark-color, 0.12);

$light-primary-text: rgba($light-color, 0.87);
$light-secondary-text: rgba($light-color, 0.7);
$light-disabled-text: rgba($light-color, 0.5);
$light-dividers: rgba($light-color, 0.12);
$light-focused: rgba($light-color, 0.12);

$primary-palette: (
  50: #f8ffea,
  100: #dae7c9,
  200: #becbae,
  300: #a3af94,
  400: #89957b,
  500: #6f7b62,
  600: #57624b,
  700: #4b563f,
  800: #29341f,
  900: #151e0c,
  A100: #becbae,
  A200: #a3af94,
  A400: #89957b,
  A700: #57624b,

  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-secondary-text,
    400: $dark-secondary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-secondary-text,
    A700: $light-primary-text,
  ),
);

$accent-palette: (
  50: #fdf6e3,
  100: #f7e8c3,
  200: #f1daa3,
  300: #ebcc83,
  400: #e6bf63,
  500: #e0b143,
  600: #daa423,
  700: #d49703,
  800: #ce8a00,
  900: #c87d00,
  A100: #f5deb3,
  A200: #ecca83,
  A400: #e3b653,
  A700: #dbaa23,

  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-secondary-text,
    400: $dark-secondary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-secondary-text,
    A700: $light-primary-text,
  ),
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@mixin customizations($theme) {
  $text-color: mat.get-theme-color($theme, primary, 800);

  mcui-random-quote {
    .quote {
      color: mat.get-theme-color($theme, primary, 50-contrast);
    }
  }

  //Sidenav
  mat-sidenav-content {
    height: 100%;
    // background: linear-gradient(to top, mat.get-theme-color($theme, primary, 200), white);
  }
  mat-sidenav-container {
    background-color: transparent !important;
    .mat-drawer-container {
      background-color: transparent !important;
    }
    .mat-drawer-backdrop {
      background-color: transparent !important;
    }
  }
  mat-nav-list {
    .sub-item {
      .mdc-list-item {
        &__primary-text {
          font-size: 0.85rem;
        }
      }
    }
  }

  $card-color: mat.get-theme-color($theme, primary, 800);
  $card-text-color: mat.get-theme-color($theme, primary, 800-contrast);

  mat-card {
    background-color: rgb(red($card-color), green($card-color), blue($card-color), 0.75) !important;
    .overlay-text {
      color: $card-text-color;
    }
    color: $card-text-color;
  }
  mat-card-title {
    color: $card-text-color;
  }
  .sidenav {
    color: $text-color;

    mat-nav-list {
      a {
        color: inherit;
      }
    }
  }

  $highlight-color: mat.get-theme-color($theme, primary, 500);
  $highlight-text-color: mat.get-theme-color($theme, primary, 500-contrast);

  .highlight {
    background-color: rgb(red($highlight-color), green($highlight-color), blue($highlight-color), 0.7);
    color: $highlight-text-color;
    a {
      color: $highlight-text-color;
    }
  }
  .accent {
    background-color: mat.get-theme-color($theme, accent, 500, 0.7);
    color: mat.get-theme-color($theme, accent, 200-contrast);
  }
}
@include mat.core-theme($my-light-theme);
@include mat.button-theme($my-light-theme);
@include mat.list-theme($my-light-theme);
@include mat.sidenav-theme($my-light-theme);
@include mat.toolbar-theme($my-light-theme);

@include customizations($my-light-theme);
