@use '@angular/material' as mat;

@include mat.core();

$dark-color: #000000;
$light-color: #ffffff;

$dark-primary-text: rgba($dark-color, 0.87);
$dark-secondary-text: rgba($dark-color, 0.54);
$dark-disabled-text: rgba($dark-color, 0.38);
$dark-dividers: rgba($dark-color, 0.12);
$dark-focused: rgba($dark-color, 0.12);


$light-primary-text: rgba($light-color, 0.87);
$light-secondary-text: rgba($light-color, 0.7);
$light-disabled-text: rgba($light-color, 0.5);
$light-dividers: rgba($light-color, 0.12);
$light-focused: rgba($light-color, 0.12);

$primary-palette: (
  50: #f9ebe9,
  100: #f1ccca,
  200: #e9aca9,
  300: #e18c88,
  400: #da756f,
  500: #d25d55,
  600: #ca453b,
  700: #c22d21,
  800: #ba1507,
  900: #b20000,
  A100: #7f0e10,
  A200: #f44747,
  A400: #ff6c6c,
  A700: #4a773c,

  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-secondary-text,
      400: $dark-secondary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-secondary-text,
      800: $light-secondary-text,
      900: $light-primary-text,
      A100: $light-primary-text,
      A200: $light-primary-text,
      A400: $light-secondary-text,
      A700: $light-primary-text,
    ),
);

$accent-palette: (
  50: #f9f4e7,
  100: #f2e4c3,
  200: #ebd39d,
  300: #e4c177,
  400: #deaf59,
  500: #d79d3b,
  600: #cf8b1d,
  700: #c77900,
  800: #bf6700,
  900: #b75500,
  A100: #fdf6e3,
  A200: #f7e8c3,
  A400: #f1daa3,
  A700: #d49703,

  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-secondary-text,
      400: $dark-secondary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-secondary-text,
      800: $light-secondary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-secondary-text,
      A700: $light-primary-text,
    ),
);
$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@mixin customizations($theme) {
  $text-color: mat.get-theme-color($theme, primary, 800);

  $landing-text-color: mat.get-theme-color($theme, primary, 100);

  mcui-random-quote {
    .quote {
      color: $landing-text-color;
    }
  }
  body {
    background-image: url('./assets/images/tomatoes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  header {
    background: linear-gradient(to bottom, rgba(mat.get-theme-color($theme, accent, 200), 0.4), rgba(0, 0, 0, 0));
  }
  footer {
    background: rgba(16, 20, 24, 1);
    font-family: 'Roboto', sans-serif;
  }

  //Sidenav
  mat-sidenav-content {
    height: 100%;
  }
  mat-sidenav-container {
    background-color: transparent !important;
    .mat-drawer-container {
      background-color: transparent !important;
    }
    .mat-drawer-backdrop {
      background-color: transparent !important;
    }
  }
  mat-nav-list {
    .sub-item {
      .mdc-list-item {
        &__primary-text {
          font-size: 0.85rem;
        }
      }
    }
  }

  $card-color: mat.get-theme-color($theme, primary, 600);
  $card-text-color: mat.get-theme-color($theme, primary, 600-contrast);

  mat-card {
    background-color: rgb(red($card-color), green($card-color), blue($card-color), 0.75) !important;
    .overlay-text {
      color: $card-text-color;
    }
    color: $card-text-color;
  }
  mat-card-title {
    color: $card-text-color;
  }
  .sidenav {
    color: $text-color;

    mat-nav-list {
      a {
        color: inherit;
      }
    }
  }

  $highlight-color: mat.get-theme-color($theme, primary, 500);
  $highlight-text-color: mat.get-theme-color($theme, primary, 500-contrast);

  .highlight {
    color: $landing-text-color;
    a {
      color: $landing-text-color;
    }
  }
  .accent {
    color: mat.get-theme-color($theme, accent, 500-contrast);
  }
}
@include mat.core-theme($my-dark-theme);
@include mat.button-theme($my-dark-theme);
@include mat.list-theme($my-dark-theme);
@include mat.sidenav-theme($my-dark-theme);
@include mat.toolbar-theme($my-dark-theme);

@include customizations($my-dark-theme);
