@use '@angular/material' as mat;
@use './themes.scss' as themes;
@include mat.core();

html,
body,
forestbjorn-root,
div,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
mat-sidenav-content {
  height: 100%;
  background-color: mat.get-theme-color(themes.$my-light-theme, accent, 500);;
}
.mat-sidenav-container {
  height: 100%;
}
